<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Tranformer</title>
</head>


<body>
    <div class="header">
        <div class="sides">
            <a href="/" class="logo">
                <img class="img-new-file" src="{{ url_for('static',filename='assets/img/new-file.jpg') }}"
                    alt="New file">
            </a>
        </div>
        <div class="info">
            <h3>Trả lời câu hỏi qua đoạn văn</h3>
            <div class="meta">
                <a href="https://twitter.com/nodws" target="_b" class="author"></a><br>
            </div>
        </div>
    </div>
    <div className="ClientProvider">
        <div class="homePage">

            <form class="space-y-2" action="/answer" method="post">
                <div class="qA">
                    <p class="text">Câu hỏi của bạn</p>
                    <input class="qAInput" name="questions" type="text" placeholder="Viết câu hỏi của bạn..." required
                        value="{{question}}">
                    <button class="btnCompute" type="submit" value="Upload">
                        Đáp án
                    </button>
                    <div>
                        <p class="text">
                            Văn bản
                        </p>
                        <input type="text" hidden name="filename" value="{{name}}">
                        <p name="file">{{name}}</p>
                        {% if context != NULL %}
                        <textarea cols="30" rows="10" class="inputContent" placeholder="Văn bản của bạn...">
                        {{context}}
                        </textarea>
                        {% endif %}

                        {% if context == NULL %}
                        <textarea class="input-context-hidden">
                        </textarea>
                        {% endif %}
                    </div>
            </form>
        </div>
        {% if answer != NULL %}
        <div class="answer">
            <span>{{answer}}</span>
        </div>
        <div>
            <a href="/success?file={{name}}">
                Đặt câu hỏi khác ?
            </a>
        </div>
        {% endif %}
</body>

</html>