<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/upload.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/css/fileinput.min.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Upload File</title>
</head>

<body>
    <div class="app">
        <div class="header">
            <header>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active"
                            style="background-image: url({{ url_for('static', filename='assets/img/bg1.jpg') }})">
                        </div>
                        <div class="carousel-item"
                            style="background-image: url({{ url_for('static', filename='assets/img/bg2.jpg') }})">
                        </div>
                        <div class="carousel-item"
                            style="background-image: url({{ url_for('static', filename='assets/img/bg3.jpg') }})">
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <h1 class="fw-light">Website trả lời câu hỏi</h1>
            </div>
        </div>
        <div class="menu">
            <form action="/success" method="POST" enctype="multipart/form-data" id="form">
                <div class="form-group amber-textarea active-amber-textarea-2">
                    <label for="exampleFormControlTextarea3">Văn bản của bạn</label>
                    <textarea class="form-control content-text-js" name="text-context" id="exampleFormControlTextarea3"
                        rows="12"></textarea>
                </div>
                <section class="bg-diffrent">
                    <div class="file-upload-contain">
                        <div class="upload-file">
                            <label class="label-upload-file" for="multiplefileupload">Tải tệp</label>
                            <input class="input-file" id="multiplefileupload" name="file" type="file"
                                accept=".pdf,.docx," />
                        </div>
                        {% if error != NULL %}
                        <p class="lead lead-be-js">{{error}}</p>
                        {% endif %}
                        <p class="lead lead-js"></p>
                        <button class="btn bg-warning btn-js">Đặt câu hỏi <i
                                class="fas fa-paper-plane ml-1"></i></button>
                    </div>
                </section>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/js/plugins/sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/themes/fas/theme.min.js"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>

</html>