/* Header */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html,
body {
  font-family: 'Josefin Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none
}

.header {
  background-image: url("../assets/img/header.jpg");
  position: relative;
  height: 140px;
  padding: 20px 10px;
  margin: 0 0 30px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.logo {
  border-color: transparent;
  text-decoration: none;
  display: block;
  width: 60px;
  position: relative;
  top: -32%;
  right: -96%;
}

.title-header {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin-top: 38px;
  font-size: 35px;
}

.img-new-file {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.text {
  font-size: 14px !important;
  color: #333;
  font-weight: bold;
  margin: 28px 0 5px;
  text-decoration: underline;
}

.sides,
.info {
  flex: 0 0 auto;
  width: 50%
}

.info {
  width: 100%;
  padding: 0% 10% -6px 10%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.info h4,
.meta {
  font-size: 0.7em
}

.meta {
  font-style: italic;
}

.btn {
  color: #333;
  border: 2px solid;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-weight: 600
}

.twtr {
  margin-top: 100px
}

.btn.twtr:after {
  content: "\1F426";
  padding-left: 5px
}

/*  */
.App {
  display: flex;
}

.ClientProvider {
  flex: 1 1 0%;
}


.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  margin: 10px auto;
}

.title {
  text-align: center;
  align-items: center;
}

.qA {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.qAInput {
  display: block;
  width: 1000px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  border-color: #333;
  border-width: 2px;
  padding: 5px 15px;
}

.btnCompute {
  height: 39px;
  border-radius: 5px;
  background: #47bc0d;
  color: #c82828;
  font-weight: bold;
  width: 100px;
  font-size: 15px;
  position: absolute;
  right: 0%;
  top: 12%;
}

.file-name {
  font-size: 14px;
  font-style: italic;
  color: #325ef0;
  font-weight: bold;
}

.titleContext {
  font-size: 0.875rem
    /* 14px */
  ;
  line-height: 1.25rem
    /* 20px */
  ;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.inputContent::-webkit-scrollbar {
  display: none;
}

.inputContent {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 1000px;
  display: block;
  height: 250px;
  padding: 10px 15px;
  border-radius: 6px;
  border-width: 2px;
  margin: 20px 0 0;
  font-size: 12px;
  line-height: 1.4;
}


.input-context-hidden {
  width: 1000px;
  display: block;
  height: 250px;
  padding: 10px;
  border-color: transparent;
  outline: none;
}

.answer {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #ceeae6;
  border-color: rgb(209 250 229/var(--tw-border-opacity));
  color: rgb(6 78 59/var(--tw-text-opacity));
  font-size: 14px;
  padding: 8px
}

.link-question {
  display: block;
  margin-top: 40px;
  text-decoration: none;
  color: #fff !important;
  font-size: 15px;
  background: #2c26c7;
  width: 160px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.link-question:hover {
  text-decoration: none;
}

.block-answer {
  margin: 20px;
  width: 1000px;
}

.block-answer__text {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
}