html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.menu {
    height: 100%;
    background-image: url(../assets/img/bgface.png);
    background-size: cover;
}

.error-message {
    color: red;
    font-size: 20px;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal {
    background-color: white;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 800px;
    border-radius: 20px;
    border: 0;
}

.upload_button {
    outline: none;
    border-color: transparent;
    cursor: pointer;
    background: #fff;
}

.image-upload {
    width: 200px;
    height: 80px;
    object-fit: cover;
    margin-left: 10px;
}

.upload_hint {
    margin-top: 10px;
    font-size: 16px;
}